@model ProductManagemet.Models.Party

<h2>Delete Party</h2>

<h4>Are you sure you want to delete this party?</h4>
<div>
    <h4>@Model.PartyName</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="PartyId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
